body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  background: rgba(220, 234, 240, 0.959);
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  font-family: "roboto", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
}
.nav_container {
  height: 8%;
  width: 100%;
  position: relative;
}
.sign {
  height: 25%;
  margin: 0 auto;
  background-color: white;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.11),
    0 5px 10px 0 rgba(0, 0, 0, 0.08);
  border: 0px;
}
.main_home {
  height: 100%;
  position: relative;
  top: 0;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.11),
    0 5px 10px 0 rgba(0, 0, 0, 0.08);
  border: 0px;
}

.finder_zone {
  position: relative;
}
.finder_zone .i {
  color: silver;
  position: absolute;
  left: 30px;
  top: 30px;
}
.finder_zone input {
  outline: none;
  border: none;
  background: rgb(227, 241, 247);
  color: #000;
  font-weight: lighter;
}
.finder_zone input:focus {
  outline: none;
}
.none {
  display: none;
}
.block {
  display: block;
  transition: opacity ease-in-out 0.5s;
  opacity: 1;
}
.searchplaceholder {
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.searchplaceholder-background {
  background-color: whitesmoke;
}
.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.item:nth-child(1) {
  color: silver;
}
.item:nth-child(2) {
  font-size: 0.8em;
}
.contactZone {
  height: 100%;
  background: white;
  position: relative;
}
.chatZone {
  background: white;
}
.profil_zone {
  position: fixed;
  height: 100%;
  z-index: 2000;
  right: 0;
  top: 63px;
  color: black;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.11),
    0 5px 10px 0 rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: "opacity" 0.3s;
}
.profil_zone_avatar {
  height: 70px;
  width: 70px;
  margin: 0 auto;
  border-radius: 150px;
  background-size: contain;
  position: relative;
}
.profil_zone_avatar img {
  border-radius: 150px;
  height: 70px;
  width: 70px;
}
.callboard {
  background: rgba(85, 85, 85, 0.904);
}
.callbard-control {
  color: silver;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.11),
    0 5px 10px 0 rgba(0, 0, 0, 0.08);
}

.callbard-control > h3 {
}
.callbard-control > h3 i {
  font-size: 0.8em;
  color: red;
}
.callbard-control button {
  padding: 15px;
  border-radius: 100px;
}
.contact_avatar {
  height: 50px;
  width: 50px;
  margin: 0 auto;
  position: relative;
  border-radius: 100px;
}
.contact_avatar img {
  height: 45px;
  width: 45px;
  border-radius: 150px;
}
.profil_zone_user_info {
  height: 40%;
  background: white;
  padding-top: 15%;
  color: black;
}
.span {
  height: 25px;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  background: white;
}
.span i {
  color: rgb(15, 15, 15);
  font-size: 1.3em;
}
.user_zone {
  margin-bottom: 5px;
}
.user_zone .btn {
  border-radius: 150px;
  background: transparent;
  color: #f7f8fa;
}
.logout_zone {
  height: 20%;
  padding-top: 12.5%;
  cursor: pointer;
  text-align: justify;
}
.settings_zone {
  height: 50%;
  padding-top: 12.5%;
  cursor: pointer;
  text-align: justify;
}
.contactList {
  overflow: auto;
  scrollbar-width: 0;
  height: 70%;
  position: "absolute";
}
.contactList button {
  margin-right: 2%;
}
.notif {
  position: relative;
}
.selector_container {
  display: inline-block;
  height: 13px;
  width: 30px;
  background: gray;
  position: absolute;
  top: 5px;
  border-radius: 150px;
}
.selector {
  display: inline-block;
  height: 16px;
  width: 16px;
  background: white;
  border-radius: 150px;
  transform: scale(1, 1);
  position: relative;
  left: -2px;
  top: -2px;
  transition: all ease-in-out 0.3s;
}

.emit_sound {
  background: rgb(165, 195, 207);
}
.emit_sound > .selector {
  background: rgb(94, 144, 236);
}
.not_emit_sound {
  background: gray;
}
.not_emit_sound > .selector {
  background: rgb(194, 193, 193);
}
.back-arrow {
  background: transparent;
  color: #f7f8fa;
}
.chatZoneImg {
  display: inline-block;
  height: 45px;
  width: 45px;
  background: silver;
  border-radius: 100px;
}
.chatZoneImg img {
  height: 45px;
  width: 45px;
  border-radius: 100px;
}
.chatZoneText {
  position: absolute;
  top: 25%;
}
.contact_zone_input {
  outline: none;
}
.contact_zone_options {
  padding-bottom: 10px;
  text-align: left;
}
.contact_zone_options .button {
  background: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
}
.contact_zone_options :nth-child(1) {
  text-align: left;
  border-bottom-width: 50%;
}
.contact_zone_options :nth-child(2) {
  text-align: left;
  border-bottom-width: 50%;
}
.contact_zone_options_1::before,
.contact_zone_options_2::before {
  position: absolute;
  content: " ";
  background: skyblue;
  height: 6px;
  width: 6px;
  margin-left: 25%;
  border-radius: 150px;
  top: 100%;
}
.contact_zone_options button:focus {
  border: none;
  outline: none;
}
.contact_zone_options .btn {
  color: "#95939d";
}

.chatitem-color-away {
  background: white;
}
.chatitem-color-home {
  background: rgb(183, 225, 241);
}
.chatitem-away {
  float: left;
  clear: both;
  border-radius: 3px;
  border-top-left-radius: 0;
  box-shadow: 0.7px 0.7px 0.7px 0.7px rgb(209, 208, 208);
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}
.chatitem-away i {
  visibility: hidden;
}
.chatitem-away:hover i {
  visibility: visible;
}
.chatitem-home {
  float: right;
  clear: both;
  border-radius: 3px;
  border-top-right-radius: 0;
  text-align: left;
  box-shadow: 0.7px 0.7px 0.7px 0.7px rgb(202, 200, 200);
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}
.chatitem-home i {
  visibility: hidden;
}
.chatitem-home:hover i {
  visibility: visible;
}
.more_options {
  position: absolute;
  z-index: 100000;
  height: 150px;
  width: 150px;
  background: white;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.11) 0 20px 20px 0
    rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.left {
  left: -150px;
}

.is_visible {
  visibility: visible;
  transition: opacity ease-in-out 0.5s;
  opacity: 1;
}
.is_hidden {
  visibility: hidden;
}

.chatitem-home::after {
  content: " ";
  position: absolute;
  right: -8px;
  top: 0px;
  display: inline-block;
  border-top: 0 solid transparent;
  border-left: 8px solid rgb(183, 225, 241);
  border-right: 0 solid rgb(183, 225, 241);
  border-bottom: 8px solid transparent;
}
.chatitem-away::before {
  content: " ";
  position: absolute;
  left: -8px;
  top: 0px;
  display: inline-block;
  border-top: 0px solid transparent;
  border-left: 0px solid white;
  border-right: 8px solid white;
  border-bottom: 8px solid transparent;
}
.toggle-button {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
  background: whitesmoke;
}
.toggle-button:active {
  background: rgba(197, 228, 240, 0.952);
}
.logout {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background: white;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.11) 0 5px 10px 0 rgba(0, 0, 0, 0.08);
}

.logout .link {
  padding: 10px;
  border-radius: 100px;
  color: red;
  cursor: pointer;
  text-decoration: none;
}
.ctrboard {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  background: white;
  opacity: 0.7;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.11),
    0 20px 10px 0 rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}
.ctrboard-speakers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.ctrboard-speakers .icons {
  padding: 20px;
  height: 25px;
  width: 25px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.11),
    0 20px 10px 0 rgba(0, 0, 0, 0.08);
  background: whitesmoke;
  cursor: pointer;
}

.ctrboard .endbutton {
  width: 65px;
  height: 65px;
  margin: 0 auto;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 100px;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.11),
    0 20px 10px 0 rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.endbuttonImage {
  width: 40px;
  height: 40px;
}
.toggle-video {
  padding: 20px;
  height: 25px;
  width: 25px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.11),
    0 20px 10px 0 rgba(0, 0, 0, 0.08);
  background: whitesmoke;
  cursor: pointer;
}
.settings {
  height: 45%;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.11) 0 15px 10px 0
    rgba(0, 0, 0, 0.08);
  background-color: gray;
}
::-webkit-scrollbar {
  display: none;
}
